<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Random Cat Images</title>
        <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <h4>Cat GIF of the Day!</h4>
            <img src="<%= url %>">
            <a class="btn" href="/">Reload Image</a>
        </div>
    </body>
</html>